<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/static/fruits-82524.jpg" type="">
    <title>Fruit Health and Fruit Recognition System</title>
    <link rel="stylesheet" href="/static/style2.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cascadia+Code:ital,wght@0,200..700;1,200..700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        
        <div class="content"> 
            <div class="box">
                <h1>HELLO, WELCOME TO FRUITS HEALTH ANALYSIS</h1>
            </div>
            <div>

                <a href="/submit"><button type="submit" class="btn"  >Let's get started &rarr;</button></a>
            </div>

        </div>
        
</body>
</html>